html, body {
    margin: 0px;
    padding: 0px;
    border: 0;
}

input:focus::placeholder {
    color: transparent;
}

.container {
    position: relative;
    height: 100vh;
}

.main-block {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.letters-span {
    padding: 0 4px;
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(102,126,234,1) 0%, rgba(118,75,162,1) 100%);
    display: inline-block;
}

span:hover {
    background: yellow;
}

.text-container {
    margin-top: 12px;
    cursor: pointer;
}